<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qa.QAFile.mapper.QaFileMapper">

    <resultMap type="QaFile" id="QaFileResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileContent"    column="file_content"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileType"    column="file_type"    />
        <result property="path"    column="path"    />
        <result property="difyDocumentId"    column="dify_document_id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectQaFileVo">
        select id, file_name, file_content, file_size, file_type, path, dify_document_id, status from qa_file
    </sql>

    <sql id="selectQaFileListVo">
        select id, file_name, file_size, file_type, path, dify_document_id, status from qa_file
    </sql>

    <select id="selectQaFileList" parameterType="QaFile" resultMap="QaFileResult">
        <include refid="selectQaFileListVo"/>
        <where>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileContent != null  and fileContent != ''"> and file_content = #{fileContent}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectQaFileById" parameterType="Long" resultMap="QaFileResult">
        <include refid="selectQaFileVo"/>
        where id = #{id}
    </select>

    <insert id="insertQaFile" parameterType="QaFile" useGeneratedKeys="true" keyProperty="id">
        insert into qa_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileContent != null">file_content,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileType != null">file_type,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="difyDocumentId != null and difyDocumentId != ''">dify_document_id,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileContent != null">#{fileContent},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="difyDocumentId != null and difyDocumentId != ''">#{difyDocumentId},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateQaFile" parameterType="QaFile">
        update qa_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileContent != null">file_content = #{fileContent},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="difyDocumentId != null and difyDocumentId != ''">dify_document_id = #{difyDocumentId},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQaFileById" parameterType="Long">
        delete from qa_file where id = #{id}
    </delete>

    <delete id="deleteQaFileByIds" parameterType="String">
        delete from qa_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
