<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.data.clean.mapper.CleanRuleMapper">

    <!-- 查询任务 -->
    <select id="selectById" resultType="com.ruoyi.data.clean.mapper.po.CleanRulePo">
        SELECT id,
               execute_mode,
               run_time,
               apply_data_source,
               config_json,
               status,
               cron_expression
        FROM clean_rule_config
        WHERE id = #{id}
    </select>

    <!-- 查询表字段（排除主键） -->
    <select id="getTableColumns" resultType="String">
        SELECT column_name
        FROM information_schema.columns
        WHERE table_name = #{tableName}
          AND column_name != 'id'
    </select>

    <!-- 查询未执行的定时任务 -->
    <!-- status待修改，如0未执行 1定时未执行 2执行成功 3执行失败 -->
    <select id="selectScheduledRules" resultType="com.ruoyi.data.clean.mapper.po.CleanRulePo">
        SELECT *
        FROM clean_rule_config
        WHERE execute_mode = 'SCHEDULED'
          AND status = 1
    </select>

    <update id="updateRuntime">
        UPDATE clean_rule_config
        SET run_time = #{runTime}
        WHERE id = #{id}
    </update>

    <insert id="batchInsertResults">
        INSERT INTO clean_interaction_result
        (source_id, task_id, config_id, raw_content, clean_content, status_label, clean_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.sourceId},
            #{item.taskId},
            #{item.configId},
            #{item.rawContent},
            #{item.cleanContent},
            #{item.statusLabel},
            #{item.cleanTime}
            )
        </foreach>
    </insert>

    <select id="selectRawInteractionData" resultType="map">
        SELECT id, evaluation_text
        FROM t_interaction_history
        WHERE evaluation_text IS NOT NULL
          AND evaluation_text != ''
    </select>

</mapper>