<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.data.metric.mapper.MetricDefinitionMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.data.metric.mapper.po.MetricDefinitionPo">
        <id column="id" property="id"/>
        <result column="metric_name" property="metricName"/>
        <result column="category" property="category"/>
        <result column="description" property="description"/>
        <result column="data_sources" property="dataSources"/>
        <result column="selected_fields" property="selectedFields"/>
        <result column="calculation_expression" property="calculationExpression"/>
        <result column="update_frequency" property="updateFrequency"/>
        <result column="chart_type" property="chartType"/>
        <result column="enable_alert" property="enableAlert"/>
        <result column="alert_threshold" property="alertThreshold"/>
        <result column="tags" property="tags"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO metric_definition
        (metric_name,category,description,data_sources,selected_fields,
        calculation_expression,update_frequency,chart_type,
        enable_alert,alert_threshold,tags)
        VALUES
        (#{metricName},#{category},#{description},#{dataSources},#{selectedFields},
        #{calculationExpression},#{updateFrequency},#{chartType},
        #{enableAlert},#{alertThreshold},#{tags})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM metric_definition WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM metric_definition ORDER BY create_time DESC
    </select>

    <update id="update">
        UPDATE metric_definition
        SET
        metric_name = #{metricName},
        category = #{category},
        description = #{description},
        data_sources = #{dataSources},
        selected_fields = #{selectedFields},
        calculation_expression = #{calculationExpression},
        update_frequency = #{updateFrequency},
        chart_type = #{chartType},
        enable_alert = #{enableAlert},
        alert_threshold = #{alertThreshold},
        tags = #{tags}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM metric_definition WHERE id = #{id}
    </delete>

<!--    获取数据表字段信息-->
    <select id="selectColumnsByTableName" resultType="string">
        SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_NAME = #{tableName}
          AND TABLE_SCHEMA = (SELECT DATABASE())
    </select>

</mapper>